# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# FastF1 Cache (Enthalt grosse Datenmengen)
fastf1_cache/

# Streamlit
.streamlit/config.toml
# .streamlit/ # Falls alle Streamlit-Configs ignoriert werden sollen

# Umgebungsvariablen
.env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

gemini.md
